# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
+ Formulas for the Bernoulli distribution: https://en.wikipedia.org/wiki/Bernoulli_distribution

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import norm
import scipy.stats
import seaborn as sns
%matplotlib inline

C:\ProgramData\Miniconda3\envs\tutorial\lib\site-packages\matplotlib\__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [4]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [5]:
# number of callbacks for black-sounding names
sum(data[data.race=='w'].call)

235.0

In [6]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1,0,1,0,0,0,0,0,0,
1,b,1,3,3,6,0,1,1,0,316,...,1,0,1,0,0,0,0,0,0,
2,b,1,4,1,6,0,0,0,0,19,...,1,0,1,0,0,0,0,0,0,
3,b,1,3,4,6,0,1,0,1,313,...,1,0,1,0,0,0,0,0,0,
4,b,1,3,3,22,0,0,0,0,313,...,1,1,0,0,0,0,0,1,0,Nonprofit

In [7]:
leng_data=len(data)
data.race.value_counts()

b    2435
w    2435
Name: race, dtype: int64

In [8]:
data[['race','call']]

     race  call
0       w     0
1       w     0
2       b     0
3       b     0
4       w     0
5       w     0
6       w     0
7       b     0
8       b     0
9       b     0
10      b     0
11      w     0
12      b     0
13      w     0
14      b     0
15      w     0
16      w     0
17      b     0
18      w     0
19      b     0
20      b     0
21      w     0
22      w     0
23      w     0
24      w     0
25      b     0
26      b     0
27      w     0
28      b     0
29      b     0
...   ...   ...
4840    b     0
4841    b     0
4842    b     0
4843    w     1
4844    b     0
4845    w     0
4846    w     1
4847    w     1
4848    b     1
4849    b     0
4850    b     0
4851    w     0
4852    w     0
4853    b     0
4854    w     0
4855    w     0
4856    b     0
4857    b     0
4858    b     0
4859    b     1
4860    w     0
4861    w     1
4862    w     0
4863    w     0
4864    b     0
4865    b     0
4866    b     0
4867    w     0
4868    b     0
4869    w     0

[4870 rows x 2 columns]

<div class="span5 alert alert-success">
<p>Your answers to Q1 and Q2 here</p>
</div>

# What test is appropriate for this problem? Does CLT apply?

This problem is binomial distribution with two response types (black, and white). CLT is still applied to this problem to calculate the statistic, two sample t-test.

# What are the null and alternate hypotheses?

Null hypothesis: it is not significant different Percentage CallBacks for Black and White Names
Hypothesis 1 : it is a significant different Percentage CallBacks for Black and White Nam

In [9]:
w = data[data.race=='w']
b = data[data.race=='b']

In [10]:
# Your solution to Q3 here

<div class="span5 alert alert-success">
<p> Your answers to Q4 and Q5 here </p>
</div>

# Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.

In [11]:
# number of callbacks for black
b_called=sum(data[data.race=='b'].call)
total_b=len(data[data.race=='b'].race)

#mean in black
mean_b_called=b_called/total_b*100
mean_b_called

6.4476386036960989

In [12]:
# number of callbacks for white
w_called=sum(data[data.race=='w'].call)
total_w=len(data[data.race=='w'].race)

#mean in white 
mean_w_called=w_called/total_w*100
mean_w_called
print(total_w)

2435

In [13]:
#different mean between black and white 
diff= mean_w_called-mean_b_called
diff

3.2032854209445585

# Black variance

In [14]:
P1= b_called/total_b
varb=(P1*(1-P1)/total_b)
print(varb)
std_b=np.sqrt(varb)

2.47717378565e-05

# white variance

In [15]:
P2= w_called/total_w
varw=(P2*(1-P2)/total_w)
print(varw)
std_w=np.sqrt(varw)

3.5809119833e-05

# total_black_white call variance and std

In [19]:
var_bw= varb + varw
std_bw=np.sqrt(var_bw)

In [ ]:
abs(P1-P2)

# 3.    Compute margin of error, confidence interval, and p-value.

# Using 95% Confidence level that (P1-P2) is within d of 0.032

In [20]:
#margin of error
margin_oe=1.96*std_bw
margin_oe

0.015255406349886438

confidence interval

In [21]:
Cmax=abs(P1-P2)+margin_oe
Cmin=abs(P1-P2)-margin_oe
print(Cmax,Cmin)

(0.047288260559332024, 0.016777447859559147)

p-value

In [22]:
#Standard Error Calculation
SError=std_bw
#degrees of freedom
B_DOF=varb/total_b
W_DOF=varw/total_w

DF=((B_DOF+W_DOF)**2)/(((B_DOF**2)/total_b)+((W_DOF**2)/total_w))
print (DF)

4713.53819343

In [23]:
# two-sample pvalue 
t_val=((P1-P2)-0)/SError
p_value=stats.t.sf(np.abs(t_val), DF)*2
print(p_value)

3.92854511587e-05

In [26]:
w_call = data[data.race=='w'].call
b_call = data[data.race=='b'].call

In [27]:
stats.ttest_ind(w_call,b_call,equal_var=False)

Ttest_indResult(statistic=4.1147052908617514, pvalue=3.9429415136459352e-05)

# 4.    Write a story describing the statistical significance in the context or the original problem.

There is a significant different Percentage CallBacks for Black and White Names, and the confidence interval is between 0.01677 to 0.0472.

# 5.Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

yes, the race/name is the most important factor in callback success, because 
the correlation between races and callback success must be analyzed and test in order to find which race is most callback success.